<h1 style="display: flex; justify-content: center; margin: 5% 0">Log In / Sign Up</h1>
<div style="margin-top: 5%;">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" style="width: 45vw;">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
  <button type="submit" class="btn btn-secondary" id="signUpButton">Sign Up</button>
  <br>
  <small style="font-size: 10px;">clicking sign up will use the credentials in the form</small>
</div>
<script src="assets/newuser.js"></script>
<script src="assets/login.js"></script>